<div>
    <h2>Temps le {{currentTime | date : 'yyyy-MM-dd HH:mm'}}</h2>
    <p *ngIf="!isLoading && data[0].ville !== 'Votre position'">Acceptez la geolocalisation pour voir le temps près de votre position.</p>
    <mat-form-field>
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>
<mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="ville">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ville </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ville}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="temperature">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Température </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.temperature}}°C </mat-cell>
    </ng-container>
    <ng-container matColumnDef="humidite">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Humidité </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.humidite}}% </mat-cell>
    </ng-container>
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="redirectToDetails(element.ville)">
            <mat-icon class="mat-18">reorder</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<app-spinner [loading]="isLoading"></app-spinner>
<mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
</mat-paginator>
